name: 重开拉取请求来重新尝试验证管道

on:
  workflow_dispatch:
    inputs:
      PR:
        description: 需要重试的拉取请求
        required: false
        default: auto
      mode:
        type: choice
        description: 生成模式
        required: true
        default: Debug
        options:
          - Debug
          - Release
  # schedule:
  #   # 建议间隔 ~ 3 小时 (+) 左右运行一次，因为 IEDS 一般会在 Azure 管道运行约 3 小时后超时
  #   - cron: 30 0/3 * * *

permissions:
  contents: read
  issues: write

jobs:
  Retry:
    runs-on: ubuntu-latest

    steps:
      - name: 验证触发者
        # 如果是手动触发，则需要验证触发者是否为 DuckDuckStudio
        if: ${{ github.event_name == 'workflow_dispatch' && github.actor != 'DuckDuckStudio' }}
        shell: bash
        run: |-
          echo "[WARNING] 手动触发者不是 DuckDuckStudio，此工作流自动失败"
          echo "EXIT_CODE=1" >> $GITHUB_ENV

      - name: 检出代码
        if: ${{ github.event_name == 'schedule' || github.actor == 'DuckDuckStudio' }}
        uses: actions/checkout@v5.0.0

      - name: 设置 .NET
        if: ${{ github.event_name == 'schedule' || github.actor == 'DuckDuckStudio' }}
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: 10.x

      - name: 关闭并重开需要重试的拉取请求
        if: ${{ github.event_name == 'schedule' || github.actor == 'DuckDuckStudio' }}
        env:
          # GITHUB_LOGIN 为工作流所在仓库所有者
          GITHUB_LOGIN: ${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.RETRY_TOKEN }}
        shell: bash
        run: |-
          # 如果 inputs.PR 未指定或为空，则使用 auto 模式
          if [[ -z "${{ inputs.PR }}" || "${{ inputs.PR }}" == "auto" ]]; then
            export PR="auto"
          else
            export PR="specify ${{ inputs.PR }}"
          fi

          # 如果生成模式为空，则指定为 Debug
          if [[ -z "${{ inputs.mode }}" ]]; then
            export MODE="Debug"
          else
            export MODE="${{ inputs.mode }}"
          fi

          dotnet run --project "Retryer/Retryer.csproj" --configuration $MODE -- $PR || EXIT_CODE=$?
          echo "EXIT_CODE=${EXIT_CODE:-0}" >> $GITHUB_ENV

      - name: 报告失败
        if: ${{ env.EXIT_CODE != 0 }}
        env:
          GH_TOKEN: ${{ github.token }}
        shell: bash
        run: |-
          # 在工作流仓库中报告本次运行的日志 URL 以及运行中是否出现警告/错误
          gh issue create \
            --title "[Auto] Retryer 运行失败" \
            --body "CC @DuckDuckStudio
            本次运行的日志: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}" \
            --label "auto,DEV-需要注意,github_actions,bug" \
            --repo "${{ github.repository }}" \
            --assignee "${{ github.actor }}"
